<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856005162712-v794ujjso9t9ql4ujjit8bbvh84ptj7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856005162712-v794ujjso9t9ql4ujjit8bbvh84ptj7u</string>
	<key>API_KEY</key>
	<string>AIzaSyD5gaqLM6cOsfWB4aVnbs0zl_U1vFCdKhI</string>
	<key>GCM_SENDER_ID</key>
	<string>856005162712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-99ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-99ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856005162712:ios:095429d9e52a23d86609ad</string>
</dict>
</plist>